In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
payment_data= pd.read_csv('onlinefraud.csv')

In [3]:
payment_data.columns

Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

The dataset consists of 10 variables:
* **step**: represents a unit of time where 1 step equals 1 hour
* **type**: type of online transaction
* **amount**: the amount of the transaction
* **nameOrig**: customer starting the transaction
* **oldbalanceOrg**: balance before the transaction
* **newbalanceOrig**: balance after the transaction
* **nameDest**: recipient of the transaction
* **oldbalanceDest**: initial balance of recipient before the transaction
* **newbalanceDest**: the new balance of recipient after the transaction
* **isFraud**: fraud transaction

In [5]:
payment_data.head(5)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [6]:
#sns.heatmap(payment_data.isnull())

In [7]:
payment_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [8]:
payment_data['isFraud'].value_counts()

isFraud
0    6354407
1       8213
Name: count, dtype: int64

In [9]:
payment_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [10]:
payment_data.shape

(6362620, 11)

In [11]:
# Check null values 
payment_data.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [12]:
# Check duplicate values
payment_data.duplicated().sum()

0

In [13]:
payment_data.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [14]:
print(f"The minimum and maximum values for each column are:")
print(f"Amount: {payment_data['amount'].min()}, {payment_data['amount'].max()}")
print(f"Old Balance Org: {payment_data['oldbalanceOrg'].min()}, {payment_data['oldbalanceOrg'].max()}")
print(f"New Balance Orig: {payment_data['newbalanceOrig'].min()}, {payment_data['newbalanceOrig'].max()}")
print(f"Old Balance Dest: {payment_data['oldbalanceDest'].min()}, {payment_data['oldbalanceDest'].max()}")
print(f"New Balance Dest: {payment_data['newbalanceDest'].min()}, {payment_data['newbalanceDest'].max()}")
print(f"Is Fraud: {payment_data['isFraud'].min()}, {payment_data['isFraud'].max()}")

The minimum and maximum values for each column are:
Amount: 0.0, 92445516.64
Old Balance Org: 0.0, 59585040.37
New Balance Orig: 0.0, 49585040.37
Old Balance Dest: 0.0, 356015889.35
New Balance Dest: 0.0, 356179278.92
Is Fraud: 0, 1

In [15]:
# Check duplicate values
payment_data.duplicated().sum()

0

In [16]:
payment_data['step'].value_counts()

step
19     51352
18     49579
187    49083
235    47491
307    46968
       ...
432        4
706        4
693        4
112        2
662        2
Name: count, Length: 743, dtype: int64

In [17]:
payment_data['amount'].value_counts()

amount
10000000.00    3207
10000.00         88
5000.00          79
15000.00         68
500.00           65
               ...
8513.48           1
189137.90         1
1615.78           1
128891.19         1
12257.89          1
Name: count, Length: 5316900, dtype: int64

In [18]:
payment_data['oldbalanceOrg'].value_counts()

oldbalanceOrg
0.00         2102449
184.00           918
133.00           914
195.00           912
164.00           909
              ...
34577.49           1
184929.21          1
29320.33           1
82645.19           1
641239.85          1
Name: count, Length: 1845844, dtype: int64

In [19]:
payment_data['newbalanceOrig'].value_counts()

newbalanceOrig
0.00         3609566
5888.64            4
15073.44           4
5122.00            4
36875.73           4
              ...
51345.64           1
46527.23           1
30839.51           1
25521.75           1
160296.36          1
Name: count, Length: 2682586, dtype: int64

In [20]:
payment_data['oldbalanceDest'].value_counts()

oldbalanceDest
0.00           2704388
10000000.00        615
20000000.00        219
30000000.00         86
40000000.00         31
                ...
967022.27            1
327279.67            1
2039554.04           1
587552.25            1
6510099.11           1
Name: count, Length: 3614697, dtype: int64

In [21]:
payment_data['newbalanceDest'].value_counts()

newbalanceDest
0.00           2439433
10000000.00         53
971418.91           32
19169204.93         29
1254956.07          25
                ...
188439.36            1
1347758.15           1
3878719.83           1
1605826.83           1
7360101.63           1
Name: count, Length: 3555499, dtype: int64

In [22]:
payment_data['isFraud'].value_counts()

isFraud
0    6354407
1       8213
Name: count, dtype: int64

In [23]:
# Assuming payment_data is your DataFrame
columns_to_exclude = ['PAYMENT', 'other_non_numeric_column']  # Add non-numeric columns here

# Selecting only numeric columns
numeric_columns = payment_data.select_dtypes(include=['number']).columns

# Excluding non-numeric columns
numeric_columns = [col for col in numeric_columns if col not in columns_to_exclude]

# Calculating correlation with 'isFraud'
correlation = payment_data[numeric_columns].corr()['isFraud']
print(correlation)

step              0.031578
amount            0.076688
oldbalanceOrg     0.010154
newbalanceOrig   -0.008148
oldbalanceDest   -0.005885
newbalanceDest    0.000535
isFraud           1.000000
isFlaggedFraud    0.044109
Name: isFraud, dtype: float64